{% extends "Base.html"  %}
{% block title %}
  Home
{% endblock%}


{% block content %}
<div class = "container-fluied" style = "padding-top: 30px; padding-left: 20px; width:90%">
      <div class = "row">
        <div class = "col m-3 p-4">
          <!-- Hock -->
          <div style = "font-size: 50px;" class = "m-1">The Best Shopping Experience Ever.</div>
          <!-- Description -->
          <div class = "m-2" style="font-size:17px">Brands that are distinguished by quality and excellence. Here you can find international and well-known brands of wearables.</div>
          <!-- Button Explore -->
          <button type = "button" class = "btn btn-primary m-2" style = "width:25%;box-shadow: 0 10px 15px rgba(0,0,0,0.3)">Explore</button>
        </div>
        <!-- IMage -->
        <div class = "col">
          <img src="static/assets/shopping.png" class="rounded img-fluied float-end" alt="...">

        </div>

      </div>
    </div>
    <!-- Sections of Products -->

<!-- New Products -->
{% endblock %}